[Unit]
Description=VPN Monitoring Service for Waybar
After=network.target

[Service]
ExecStart=/home/tristan/.config/scripts/nord.sh
Restart=always
Environment=PATH=/usr/local/bin:/usr/bin:/bin:$HOME/.local/bin
Environment=XDG_RUNTIME_DIR=/run/user/%U

[Install]
WantedBy=default.target
